@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');



.container{
  max-width :1400px;
}
body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Quicksand', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Quicksand', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Quicksand', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Quicksand', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Quicksand', sans-serif;
}
.mbr-author-desc {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Quicksand', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #c0a375 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f3c649 !important;
}
.btn-primary {
  background-color: #c0a375;
  border-color: #c0a375;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #a07e49;
  border-color: #a07e49;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #a07e49 !important;
  border-color: #a07e49 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-exploro {
  background-color: #ea0650;
  border-color: #ea0650;
  color: #ffffff;
}
.btn-exploro:hover,
.btn-exploro:focus,
.btn-exploro.focus,
.btn-exploro:active,
.btn-exploro.active {
  color: #000000;
  background-color: #f2ede9;
  border-color: #f2ede9;
}
.btn-exploro.disabled,
.btn-exploro:disabled {
  color: #ffffff !important;
  background-color: #ea0650 !important;
  border-color: #ea0650 !important;
}
.btn-info {
  background-color: #f2ede9;
  border-color: #354a4b;
  color: #000000;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #354a4b;
  border-color: #354a4b;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #ea0650;
  border-color: #ea0650;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #354a4b;
  border-color: #354a4b;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #ea0650 !important;
  border-color: #ea0650 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-primary-outline {
  background: none;
  border-color: #8e7041;
  color: #8e7041;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #c0a375;
  border-color: #c0a375;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #c0a375 !important;
  border-color: #c0a375 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.text-primary {
  color: #c0a375 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f3c649 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f3c649;
}
.btn-social {
  border-color: #c0a375;
}
.btn-social:hover {
  background: #c0a375;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #c0a375;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #c0a375;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #c0a375;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #c0a375;
}
.lead a,
.lead a:hover {
  color: #c0a375;
}
.lead blockquote {
  border-color: #c0a375;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e8ddcd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #c0a375;
}
#menu-94 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-94 .navbar-caption {
  color: #ffffff;
}
#menu-94 .navbar-toggler {
  color: #000000;
}
#menu-94 .close-icon::before,
#menu-94 .close-icon::after {
  background-color: #000000;
}
#menu-94 .link,
#menu-94 .dropdown-item {
  color: #000000;
}
#menu-94 .link {
  font-size: 1rem;
}
#menu-94 .dropdown-item,
#menu-94 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-94 .link:hover,
#menu-94 .dropdown-item:hover,
#menu-94 .link:focus,
#menu-94 .dropdown-item:focus {
  color: #c0a375;
}
#menu-94 .link[aria-expanded="true"],
#menu-94 .dropdown-menu {
  background: #dfd3c9;
}
#menu-94 .nav-dropdown-sm .link:focus,
#menu-94 .nav-dropdown-sm .link:hover,
#menu-94 .nav-dropdown-sm .dropdown-item:focus,
#menu-94 .nav-dropdown-sm .dropdown-item:hover {
  background: #ece5df!important;
}
#menu-94 .navbar,
#menu-94 .nav-dropdown-sm,
#menu-94 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-94 .nav-dropdown-sm .dropdown-menu {
  background: #f2ede9;
}
#menu-94 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-94 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-94 .bg-color.transparent.opened .link:hover,
#menu-94 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-94 .link[aria-expanded="true"],
#menu-94 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box5-a0 P {
  text-align: center;
  color: #000000;
}
#msg-box5-a0 H3 {
  text-align: center;
  font-size: 32px;
  color: #000000;
}
#msg-box5-a0 .btn {
  font-size: 14px;
}
#header3-8b .mbr-section-title,
#header3-8b .mbr-section-subtitle {
  text-align: center;
}
#msg-box3-3z .mbr-section-title,
#msg-box3-3z p {
  color: #000;
}
#msg-box3-3z .btn {
  font-size: 24px;
}
#msg-box3-3z .lead P {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  color: #000000;
}
#msg-box3-3z .mbr-section-title {
  font-size: 32px;
  color: #000000;
}
#header3-8c .mbr-section-title,
#header3-8c .mbr-section-subtitle {
  text-align: center;
}
#header3-4m .mbr-section-title,
#header3-4m .mbr-section-subtitle {
  text-align: center;
}
#header3-4m H3 {
  color: #000000;
  font-size: 32px;
}
#msg-box5-3p H3 {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  color: #000000;
  font-size: 32px;
}
#msg-box5-3p P {
  text-align: center;
}
#header3-85 .mbr-section-title,
#header3-85 .mbr-section-subtitle {
  text-align: center;
}
#msg-box5-4k H3 {
  text-align: center;
  color: #000000;
  font-size: 30px;
}
#header3-84 .mbr-section-title,
#header3-84 .mbr-section-subtitle {
  text-align: center;
}
#msg-box5-4l H3 {
  text-align: center;
  color: #000000;
  font-size: 32px;
}
#header3-a3 .mbr-section-title,
#header3-a3 .mbr-section-subtitle {
  text-align: center;
}
#header3-41 .mbr-section-title,
#header3-41 .mbr-section-subtitle {
  text-align: center;
}
#header3-41 H3 {
  color: #000000;
  font-size: 32px;
}
#header3-a2 .mbr-section-title,
#header3-a2 .mbr-section-subtitle {
  text-align: center;
}
#social-buttons4-9n .mbr-section-title,
#social-buttons4-9n .btn-social {
  color: #fff;
}
#social-buttons4-9n .mbr-section-title {
  font-size: 32px;
}
#form2-95 .mbr-section-title {
  color: #fff;
  font-size: 32px;
}
#form2-95 .mbr-section-subtitle {
  color: #a0a0a0;
}
#contacts1-7k P {
  text-align: left;
}
#contacts1-7k STRONG {
  text-align: center;
}


#menu-94 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-94 .navbar-caption {
  color: #ffffff;
}
#menu-94 .navbar-toggler {
  color: #000000;
}
#menu-94 .close-icon::before,
#menu-94 .close-icon::after {
  background-color: #000000;
}
#menu-94 .link,
#menu-94 .dropdown-item {
  color: #000000;
}
#menu-94 .link {
  font-size: 1rem;
}
#menu-94 .dropdown-item,
#menu-94 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-94 .link:hover,
#menu-94 .dropdown-item:hover,
#menu-94 .link:focus,
#menu-94 .dropdown-item:focus {
  color: #c0a375;
}
#menu-94 .link[aria-expanded="true"],
#menu-94 .dropdown-menu {
  background: #dfd3c9;
}
#menu-94 .nav-dropdown-sm .link:focus,
#menu-94 .nav-dropdown-sm .link:hover,
#menu-94 .nav-dropdown-sm .dropdown-item:focus,
#menu-94 .nav-dropdown-sm .dropdown-item:hover {
  background: #ece5df!important;
}
#menu-94 .navbar,
#menu-94 .nav-dropdown-sm,
#menu-94 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-94 .nav-dropdown-sm .dropdown-menu {
  background: #f2ede9;
}
#menu-94 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-94 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-94 .bg-color.transparent.opened .link:hover,
#menu-94 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-94 .link[aria-expanded="true"],
#menu-94 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#header5-5g .mbr-section-title {
  color: #f2ede9;
  font-size: 32px;
  font-family: 'Quicksand', sans-serif;
}
#header5-5g .mbr-section-lead {
  color: #9c9a9a;
}
#header5-5g .btn {
  font-size: 14px;
}
#header3-7y .mbr-section-title,
#header3-7y .mbr-section-subtitle {
  text-align: center;
}
#testimonials1-55 .mbr-section-title {
  font-size: 32px;
}
#testimonials1-55 .card-block P {
  text-align: center;
}
#testimonials1-55 .card-footer > small {
  color: #28324e;
}
#header3-7x .mbr-section-title,
#header3-7x .mbr-section-subtitle {
  text-align: center;
}
#msg-box5-7w H3 {
  text-align: center;
  font-size: 32px;
}
#msg-box5-7w P {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}
#msg-box5-7w .btn {
  font-size: 14px;
}
#header3-82 .mbr-section-title,
#header3-82 .mbr-section-subtitle {
  text-align: center;
}
#msg-box5-81 H3 {
  text-align: center;
  font-size: 32px;
}
#msg-box5-81 P {
  text-align: center;
}
#msg-box5-81 .btn {
  font-size: 14px;
}
#header3-8f .mbr-section-title,
#header3-8f .mbr-section-subtitle {
  text-align: center;
}
#msg-box5-5a H3 {
  font-size: 32px;
  text-align: center;
}
#msg-box5-5a P {
  text-align: center;
}
#header3-80 .mbr-section-title,
#header3-80 .mbr-section-subtitle {
  text-align: center;
}
#header3-8h .mbr-section-title,
#header3-8h .mbr-section-subtitle {
  text-align: center;
}
#testimonials3-59 .mbr-section-title {
  color: #000000;
  font-size: 36px;
}
#testimonials3-59 .mbr-author-name {
  color: #ccc;
}
#testimonials3-59 .card-footer > div {
  color: #28324e;
}
#testimonials3-59 .card-footer > div SPAN {
  font-size: 14px;
}
#form1-4z .form-control-label {
  color: #232323;
}
#form1-4z .mbr-section-title {
  font-size: 32px;
}
#social-buttons4-9o .mbr-section-title,
#social-buttons4-9o .btn-social {
  color: #fff;
}
#social-buttons4-9o .mbr-section-title {
  font-size: 32px;
}
#form2-97 .mbr-section-title {
  color: #fff;
  font-size: 32px;
}
#form2-97 .mbr-section-subtitle {
  color: #a0a0a0;
}
#contacts1-7k P {
  text-align: left;
}
#contacts1-7k STRONG {
  text-align: center;
}
#menu-94 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-94 .navbar-caption {
  color: #ffffff;
}
#menu-94 .navbar-toggler {
  color: #000000;
}
#menu-94 .close-icon::before,
#menu-94 .close-icon::after {
  background-color: #000000;
}
#menu-94 .link,
#menu-94 .dropdown-item {
  color: #000000;
}
#menu-94 .link {
  font-size: 1rem;
}
#menu-94 .dropdown-item,
#menu-94 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-94 .link:hover,
#menu-94 .dropdown-item:hover,
#menu-94 .link:focus,
#menu-94 .dropdown-item:focus {
  color: #c0a375;
}
#menu-94 .link[aria-expanded="true"],
#menu-94 .dropdown-menu {
  background: #dfd3c9;
}
#menu-94 .nav-dropdown-sm .link:focus,
#menu-94 .nav-dropdown-sm .link:hover,
#menu-94 .nav-dropdown-sm .dropdown-item:focus,
#menu-94 .nav-dropdown-sm .dropdown-item:hover {
  background: #ece5df!important;
}
#menu-94 .navbar,
#menu-94 .nav-dropdown-sm,
#menu-94 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-94 .nav-dropdown-sm .dropdown-menu {
  background: #f2ede9;
}
#menu-94 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-94 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-94 .bg-color.transparent.opened .link:hover,
#menu-94 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-94 .link[aria-expanded="true"],
#menu-94 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box8-5z .mbr-section-title,
#msg-box8-5z p {
  color: #fff;
}
#msg-box8-5z .lead P {
  font-size: 20px;
}
#msg-box8-5z .btn {
  font-size: 12px;
}
#msg-box8-5z .mbr-section-title {
  font-size: 32px;
}
#header3-9b .mbr-section-title,
#header3-9b .mbr-section-subtitle {
  text-align: center;
}
#social-buttons4-9x .mbr-section-title,
#social-buttons4-9x .btn-social {
  color: #fff;
}
#social-buttons4-9x .mbr-section-title {
  font-size: 32px;
}
#form2-99 .mbr-section-title {
  color: #fff;
  font-size: 32px;
}
#form2-99 .mbr-section-subtitle {
  color: #a0a0a0;
}
#contacts1-7k P {
  text-align: left;
}
#contacts1-7k STRONG {
  text-align: center;
}
#menu-94 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-94 .navbar-caption {
  color: #ffffff;
}
#menu-94 .navbar-toggler {
  color: #000000;
}
#menu-94 .close-icon::before,
#menu-94 .close-icon::after {
  background-color: #000000;
}
#menu-94 .link,
#menu-94 .dropdown-item {
  color: #000000;
}
#menu-94 .link {
  font-size: 1rem;
}
#menu-94 .dropdown-item,
#menu-94 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-94 .link:hover,
#menu-94 .dropdown-item:hover,
#menu-94 .link:focus,
#menu-94 .dropdown-item:focus {
  color: #c0a375;
}
#menu-94 .link[aria-expanded="true"],
#menu-94 .dropdown-menu {
  background: #dfd3c9;
}
#menu-94 .nav-dropdown-sm .link:focus,
#menu-94 .nav-dropdown-sm .link:hover,
#menu-94 .nav-dropdown-sm .dropdown-item:focus,
#menu-94 .nav-dropdown-sm .dropdown-item:hover {
  background: #ece5df!important;
}
#menu-94 .navbar,
#menu-94 .nav-dropdown-sm,
#menu-94 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-94 .nav-dropdown-sm .dropdown-menu {
  background: #f2ede9;
}
#menu-94 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-94 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-94 .bg-color.transparent.opened .link:hover,
#menu-94 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-94 .link[aria-expanded="true"],
#menu-94 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box5-6a P {
  text-align: left;
  font-size: 14px;
}
#msg-box5-6a H3 {
  font-size: 32px;
  text-align: center;
}
#social-buttons4-9v .mbr-section-title,
#social-buttons4-9v .btn-social {
  color: #fff;
}
#social-buttons4-9v .mbr-section-title {
  font-size: 32px;
}
#form2-9c .mbr-section-title {
  color: #fff;
  font-size: 32px;
}
#form2-9c .mbr-section-subtitle {
  color: #a0a0a0;
}
#contacts1-7k P {
  text-align: left;
}
#contacts1-7k STRONG {
  text-align: center;
}

#msg-box5-72 P {
  text-align: center;
  color: #000000;
}
#msg-box5-72 H3 {
  text-align: center;
  font-size: 32px;
  color: #000000;
}
#msg-box5-72 .btn {
  font-size: 14px;
}
#header3-76 .mbr-section-title,
#header3-76 .mbr-section-subtitle {
  text-align: center;
}
#header3-74 .mbr-section-title,
#header3-74 .mbr-section-subtitle {
  text-align: center;
}
#msg-box5-7f P {
  text-align: center;
  color: #000000;
}
#msg-box5-7f H3 {
  text-align: center;
  font-size: 32px;
  color: #000000;
}
#msg-box5-7f .btn {
  font-size: 14px;
}
#header3-7l .mbr-section-title,
#header3-7l .mbr-section-subtitle {
  text-align: center;
}
#msg-box5-7h H3 {
  text-align: center;
  font-size: 32px;
  font-family: 'Quicksand', sans-serif;
  color: #000000;
}
#msg-box5-7h P {
  text-align: center;
  color: #000000;
}
#msg-box5-7h .btn {
  font-size: 14px;
}
#header3-7g .mbr-section-title,
#header3-7g .mbr-section-subtitle {
  text-align: center;
}
#social-buttons4-7i .mbr-section-title,
#social-buttons4-7i .btn-social {
  color: #fff;
}
#social-buttons4-7i .mbr-section-title {
  font-size: 32px;
}
#form2-7j .mbr-section-title {
  color: #fff;
  font-size: 32px;
}
#form2-7j .mbr-section-subtitle {
  color: #a0a0a0;
}
#contacts1-7k P {
  text-align: left;
}
#contacts1-7k STRONG {
  text-align: center;
}
#ext_menu-62 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-62 .navbar-caption {
  color: #ffffff;
}
#ext_menu-62 .navbar-toggler {
  color: #000000;
}
#ext_menu-62 .close-icon::before,
#ext_menu-62 .close-icon::after {
  background-color: #000000;
}
#ext_menu-62 .link,
#ext_menu-62 .dropdown-item {
  color: #000000;
}
#ext_menu-62 .link {
  font-size: 1rem;
}
#ext_menu-62 .dropdown-item,
#ext_menu-62 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#ext_menu-62 .link:hover,
#ext_menu-62 .dropdown-item:hover,
#ext_menu-62 .link:focus,
#ext_menu-62 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-62 .link[aria-expanded="true"],
#ext_menu-62 .dropdown-menu {
  background: #dfd3c9;
}
#ext_menu-62 .nav-dropdown-sm .link:focus,
#ext_menu-62 .nav-dropdown-sm .link:hover,
#ext_menu-62 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-62 .nav-dropdown-sm .dropdown-item:hover {
  background: #ece5df!important;
}
#ext_menu-62 .navbar,
#ext_menu-62 .nav-dropdown-sm,
#ext_menu-62 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-62 .nav-dropdown-sm .dropdown-menu {
  background: #f2ede9;
}
#ext_menu-62 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-62 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-62 .bg-color.transparent.opened .link:hover,
#ext_menu-62 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-62 .link[aria-expanded="true"],
#ext_menu-62 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-62 .btn {
  font-size: 16px;
}
#menu-94 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-94 .navbar-caption {
  color: #ffffff;
}
#menu-94 .navbar-toggler {
  color: #000000;
}
#menu-94 .close-icon::before,
#menu-94 .close-icon::after {
  background-color: #000000;
}
#menu-94 .link,
#menu-94 .dropdown-item {
  color: #000000;
}
#menu-94 .link {
  font-size: 1rem;
}
#menu-94 .dropdown-item,
#menu-94 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-94 .link:hover,
#menu-94 .dropdown-item:hover,
#menu-94 .link:focus,
#menu-94 .dropdown-item:focus {
  color: #c0a375;
}
#menu-94 .link[aria-expanded="true"],
#menu-94 .dropdown-menu {
  background: #dfd3c9;
}
#menu-94 .nav-dropdown-sm .link:focus,
#menu-94 .nav-dropdown-sm .link:hover,
#menu-94 .nav-dropdown-sm .dropdown-item:focus,
#menu-94 .nav-dropdown-sm .dropdown-item:hover {
  background: #ece5df!important;
}
#menu-94 .navbar,
#menu-94 .nav-dropdown-sm,
#menu-94 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-94 .nav-dropdown-sm .dropdown-menu {
  background: #f2ede9;
}
#menu-94 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-94 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-94 .bg-color.transparent.opened .link:hover,
#menu-94 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-94 .link[aria-expanded="true"],
#menu-94 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box5-9z P {
  text-align: center;
}
#msg-box5-9z H3 {
  font-size: 32px;
  text-align: center;
}
#msg-box5-9z .btn {
  font-size: 14px;
}
#header3-92 .mbr-section-title,
#header3-92 .mbr-section-subtitle {
  text-align: center;
}
#msg-box3-8m .mbr-section-title,
#msg-box3-8m p {
  color: #000;
}
#msg-box3-8m .btn {
  font-size: 24px;
}
#msg-box3-8m .mbr-section-title {
  color: #000000;
  font-size: 32px;
}
#msg-box3-8m .lead P {
  color: #000000;
}
#header3-a1 .mbr-section-title,
#header3-a1 .mbr-section-subtitle {
  text-align: center;
}
#header3-8o .mbr-section-title,
#header3-8o .mbr-section-subtitle {
  text-align: center;
}
#header3-8p .mbr-section-title,
#header3-8p .mbr-section-subtitle {
  text-align: center;
}
#header3-8p H3 {
  font-size: 32px;
  color: #000000;
}
#header3-8p SMALL {
  color: #000000;
}
#msg-box5-8r H3 {
  font-size: 32px;
  text-align: center;
  color: #000000;
}
#header3-8s .mbr-section-title,
#header3-8s .mbr-section-subtitle {
  text-align: center;
}
#msg-box5-8t H3 {
  font-size: 32px;
  text-align: center;
  color: #000000;
}
#header3-8u .mbr-section-title,
#header3-8u .mbr-section-subtitle {
  text-align: center;
}
#msg-box5-8v H3 {
  font-size: 32px;
  text-align: center;
  color: #000000;
}
#header3-8w .mbr-section-title,
#header3-8w .mbr-section-subtitle {
  text-align: center;
}
#social-buttons4-8y .mbr-section-title,
#social-buttons4-8y .btn-social {
  color: #fff;
}
#social-buttons4-8y .mbr-section-title {
  font-size: 32px;
}
#form2-96 .mbr-section-title {
  color: #fff;
  font-size: 32px;
}
#form2-96 .mbr-section-subtitle {
  color: #a0a0a0;
}
#contacts1-7k P {
  text-align: left;
}
#contacts1-7k STRONG {
  text-align: center;
}

#menu-94 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-94 .navbar-caption {
  color: #ffffff;
}
#menu-94 .navbar-toggler {
  color: #000000;
}
#menu-94 .close-icon::before,
#menu-94 .close-icon::after {
  background-color: #000000;
}
#menu-94 .link,
#menu-94 .dropdown-item {
  color: #000000;
}
#menu-94 .link {
  font-size: 1rem;
}
#menu-94 .dropdown-item,
#menu-94 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-94 .link:hover,
#menu-94 .dropdown-item:hover,
#menu-94 .link:focus,
#menu-94 .dropdown-item:focus {
  color: #c0a375;
}
#menu-94 .link[aria-expanded="true"],
#menu-94 .dropdown-menu {
  background: #dfd3c9;
}
#menu-94 .nav-dropdown-sm .link:focus,
#menu-94 .nav-dropdown-sm .link:hover,
#menu-94 .nav-dropdown-sm .dropdown-item:focus,
#menu-94 .nav-dropdown-sm .dropdown-item:hover {
  background: #ece5df!important;
}
#menu-94 .navbar,
#menu-94 .nav-dropdown-sm,
#menu-94 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-94 .nav-dropdown-sm .dropdown-menu {
  background: #f2ede9;
}
#menu-94 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-94 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-94 .bg-color.transparent.opened .link:hover,
#menu-94 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-94 .link[aria-expanded="true"],
#menu-94 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#header3-9k .mbr-section-title,
#header3-9k .mbr-section-subtitle {
  text-align: center;
}
#header3-9k SMALL {
  font-size: 17px;
  color: #000000;
  font-family: 'Quicksand', sans-serif;
}
#header3-9k H3 {
  font-size: 32px;
}
#features3-9j SPAN {
  font-size: 14px;
}
#header3-2l .mbr-section-title,
#header3-2l .mbr-section-subtitle {
  text-align: center;
}
#header3-2l H3 {
  font-size: 32px;
}
#content1-2m P {
  text-align: left;
  font-size: 15px;
}
#content1-a4 P {
  text-align: left;
  font-size: 15px;
}
#content1-a5 P {
  text-align: left;
  font-size: 15px;
}
#content1-a9 P {
  text-align: left;
  font-size: 15px;
}
#content1-af P {
  text-align: left;
  font-size: 15px;
}
#content1-ag P {
  text-align: left;
  font-size: 15px;
}
#msg-box5-aa P {
  text-align: left;
  font-size: 15px;
}
#content1-ab P {
  text-align: left;
  font-size: 32px;
}
#msg-box5-ac H3 {
  font-size: 32px;
  text-align: center;
}
#header3-ai .mbr-section-title,
#header3-ai .mbr-section-subtitle {
  text-align: center;
}
#msg-box5-ad H3 {
  font-size: 32px;
  text-align: center;
}
#header3-aj .mbr-section-title,
#header3-aj .mbr-section-subtitle {
  text-align: center;
}
#msg-box5-ae H3 {
  font-size: 32px;
  text-align: center;
}
#social-buttons4-9p .mbr-section-title,
#social-buttons4-9p .btn-social {
  color: #fff;
}
#social-buttons4-9p .mbr-section-title {
  font-size: 32px;
}
#form2-9q .mbr-section-title {
  color: #fff;
  font-size: 32px;
}
#form2-9q .mbr-section-subtitle {
  color: #a0a0a0;
}
#contacts1-7k P {
  text-align: left;
}
#contacts1-7k STRONG {
  text-align: center;
}

#ext_menu-2k .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-2k .navbar-caption {
  color: #ffffff;
}
#ext_menu-2k .navbar-toggler {
  color: #000000;
}
#ext_menu-2k .close-icon::before,
#ext_menu-2k .close-icon::after {
  background-color: #000000;
}
#ext_menu-2k .link,
#ext_menu-2k .dropdown-item {
  color: #000000;
}
#ext_menu-2k .link {
  font-size: 1rem;
}
#ext_menu-2k .dropdown-item,
#ext_menu-2k .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#ext_menu-2k .link:hover,
#ext_menu-2k .dropdown-item:hover,
#ext_menu-2k .link:focus,
#ext_menu-2k .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-2k .link[aria-expanded="true"],
#ext_menu-2k .dropdown-menu {
  background: #dfd3c9;
}
#ext_menu-2k .nav-dropdown-sm .link:focus,
#ext_menu-2k .nav-dropdown-sm .link:hover,
#ext_menu-2k .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-2k .nav-dropdown-sm .dropdown-item:hover {
  background: #ece5df!important;
}
#ext_menu-2k .navbar,
#ext_menu-2k .nav-dropdown-sm,
#ext_menu-2k .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-2k .nav-dropdown-sm .dropdown-menu {
  background: #f2ede9;
}
#ext_menu-2k .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-2k .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-2k .bg-color.transparent.opened .link:hover,
#ext_menu-2k .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-2k .link[aria-expanded="true"],
#ext_menu-2k .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-2k .btn {
  font-size: 16px;
}
#header3-9l .mbr-section-title,
#header3-9l .mbr-section-subtitle {
  text-align: center;
}
#header3-9l SMALL {
  font-size: 17px;
  color: #000000;
  font-family: 'Quicksand', sans-serif;
}
#header3-9l H3 {
  font-size: 32px;
}
#features3-b8 SPAN {
  font-size: 14px;
}
#header3-9t .mbr-section-title,
#header3-9t .mbr-section-subtitle {
  text-align: center;
}
#header3-9t H3 {
  font-size: 32px;
  text-align: right;
}
#msg-box5-ao H3 {
  font-size: 32px;
  text-align: center;
}
#header3-ar .mbr-section-title,
#header3-ar .mbr-section-subtitle {
  text-align: center;
}
#msg-box5-bd H3 {
  font-size: 32px;
  text-align: center;
}
#msg-box5-bd P {
  text-align: left;
}
#header3-as .mbr-section-title,
#header3-as .mbr-section-subtitle {
  text-align: center;
}
#msg-box5-be H3 {
  font-size: 32px;
  text-align: center;
}
#social-buttons4-9s .mbr-section-title,
#social-buttons4-9s .btn-social {
  color: #fff;
}
#social-buttons4-9s .mbr-section-title {
  font-size: 32px;
}
#form2-9r .mbr-section-title {
  color: #fff;
  font-size: 32px;
}
#form2-9r .mbr-section-subtitle {
  color: #a0a0a0;
}
#contacts1-7k P {
  text-align: left;
}
#contacts1-7k STRONG {
  text-align: center;
}

#menu-94 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-94 .navbar-caption {
  color: #ffffff;
}
#menu-94 .navbar-toggler {
  color: #000000;
}
#menu-94 .close-icon::before,
#menu-94 .close-icon::after {
  background-color: #000000;
}
#menu-94 .link,
#menu-94 .dropdown-item {
  color: #000000;
}
#menu-94 .link {
  font-size: 1rem;
}
#menu-94 .dropdown-item,
#menu-94 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-94 .link:hover,
#menu-94 .dropdown-item:hover,
#menu-94 .link:focus,
#menu-94 .dropdown-item:focus {
  color: #c0a375;
}
#menu-94 .link[aria-expanded="true"],
#menu-94 .dropdown-menu {
  background: #dfd3c9;
}
#menu-94 .nav-dropdown-sm .link:focus,
#menu-94 .nav-dropdown-sm .link:hover,
#menu-94 .nav-dropdown-sm .dropdown-item:focus,
#menu-94 .nav-dropdown-sm .dropdown-item:hover {
  background: #ece5df!important;
}
#menu-94 .navbar,
#menu-94 .nav-dropdown-sm,
#menu-94 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-94 .nav-dropdown-sm .dropdown-menu {
  background: #f2ede9;
}
#menu-94 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-94 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-94 .bg-color.transparent.opened .link:hover,
#menu-94 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-94 .link[aria-expanded="true"],
#menu-94 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#header3-b6 .mbr-section-title,
#header3-b6 .mbr-section-subtitle {
  text-align: center;
}
#header3-b6 SMALL {
  font-size: 17px;
  color: #000000;
  font-family: 'Quicksand', sans-serif;
}
#header3-b6 H3 {
  font-size: 32px;
}
#features3-b9 SPAN {
  font-size: 14px;
}
#header3-9u .mbr-section-title,
#header3-9u .mbr-section-subtitle {
  text-align: center;
}
#header3-9u H3 {
  font-size: 32px;
  text-align: right;
}
#msg-box5-ba H3 {
  font-size: 32px;
  text-align: center;
}
#msg-box5-ba P {
  text-align: left;
}
#header3-b1 .mbr-section-title,
#header3-b1 .mbr-section-subtitle {
  text-align: center;
}
#msg-box5-bb H3 {
  font-size: 32px;
  text-align: center;
}
#msg-box5-bb P {
  text-align: left;
}
#header3-b2 .mbr-section-title,
#header3-b2 .mbr-section-subtitle {
  text-align: center;
}
#msg-box5-bc H3 {
  font-size: 32px;
  text-align: center;
}
#msg-box5-bc P {
  text-align: left;
}
#header3-b3 .mbr-section-title,
#header3-b3 .mbr-section-subtitle {
  text-align: center;
}
#social-buttons4-9w .mbr-section-title,
#social-buttons4-9w .btn-social {
  color: #fff;
}
#social-buttons4-9w .mbr-section-title {
  font-size: 32px;
}
#form2-98 .mbr-section-title {
  color: #fff;
  font-size: 32px;
}
#form2-98 .mbr-section-subtitle {
  color: #a0a0a0;
}
#contacts1-7k P {
  text-align: left;
}
#contacts1-7k STRONG {
  text-align: center;
}
